.moment > span:nth-child(1) {
  /* 'type' icon */
  margin-right: 1em;
  display: inline-block;
  width: 2em;
  text-align: center;
}

.moment > span:nth-child(3) {
  /* fortune marker */
  float: left;
  position: relative;
  left: 10em;
  font-weight: bold;
  color: red;
}

.sheet-table {
  width: 100%;
  border-collapse: collapse;
}

.sheet-table td.page {
  width:48%;
}

.sheet-table tr.sheet-front {
  border-bottom: 1px solid black;
}

.sheet-table tr td.page-right { /* right page */
  border-left: 1px dashed black;
  text-align: right;
}

.sheet-table tr.sheet-front:first-child td, 
.sheet-table tr.sheet-back:last-child td
{
  border:none;
}